<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniProj02.ayo.member.MemberMapper">
    <sql id="search">
        <where>
            <if test="searchKey != null and searchKey != ''">
                id like concat('%', #{searchKey}, '%')
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="MemberVO">
        insert into members (id, name, password, birthdate, address, phone, gender)
        values (#{id}, #{name}, #{password}, #{birthdate}, #{address}, #{phone}, #{gender});
    </insert>

    <select id="login" resultType="MemberVO">
        select
            id, name, password, birthdate, address, phone, gender, auth
        from members
        where id = #{id}
    </select>

    <select id="view" resultType="MemberVO">
        select
        id, name, birthdate, address, phone, gender, auth
        from members
        where id = #{id}
    </select>

    <delete id="delete" parameterType="MemberVO">
        delete from members where id = #{id}
    </delete>

    <update id="update" parameterType="MemberVO">
        update members
        set name = #{name}, password = #{password}, address = #{address}, phone = #{phone} ,birthdate = #{birthdate}
        where id = #{id}
    </update>

    <select id="getTotalCount">
        select
        count(*)
        from members
        <include refid="search"/>
    </select>

    <select id="getList" resultType="MemberVO">
        select id, name, address, phone, gender, birthdate from members
        <include refid="search"/>
        limit #{skip}, #{size}
    </select>
</mapper>