<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.miniProj02.ayo.member.MemberMapper">
    <sql id="search">
        <where>
            <if test="searchKey != null and searchKey != ''">
                (
                id like concat('%', #{searchKey}, '%')
                OR name LIKE CONCAT('%', #{searchKey}, '%')
                OR phone LIKE CONCAT('%', #{searchKey}, '%')
                )
            </if>
            <if test="lockCheck != false">
                AND account_locked = 'Y'
            </if>
        </where>
    </sql>

    <insert id="insert" parameterType="MemberVO">
        insert into members (id, name, password, birthdate, address, phone, gender)
        values (#{id}, #{name}, #{password}, #{birthdate}, #{address}, #{phone}, #{gender});
    </insert>

    <select id="login" resultType="MemberVO">
        select
            id, name, password, birthdate, address, phone, gender, auth, account_locked
        from members
        where id = #{id}
    </select>

    <select id="view" resultType="MemberVO">
        select
            id, name, password, birthdate, address, phone, gender, auth, account_locked
        from members
        where id = #{id}
    </select>

    <delete id="delete" parameterType="MemberVO">
        delete from members where id = #{id}
    </delete>

    <update id="update" parameterType="MemberVO">
        update members
        set name = #{name}, password = #{password}, address = #{address}, phone = #{phone} ,birthdate = #{birthdate}
        where id = #{id}
    </update>

    <update id="adminUpdate" parameterType="MemberVO">
        update members
        set name = #{name}, address = #{address}, phone = #{phone} ,birthdate = #{birthdate}, auth = #{auth}, account_locked = #{account_locked}
        <if test="password != null and !password.equals('')">, password = #{password}</if>
        where id = #{id}
    </update>

    <update id="updateAccountLock" parameterType="MemberVO">
        update members
        set account_locked = #{account_locked}
        where id = #{id}
    </update>

    <select id="getTotalCount">
        select
        count(*)
        from members
        <include refid="search"/>
    </select>

    <select id="getList" resultType="MemberVO">
        select id, name, address, phone, gender, birthdate, auth, account_locked from members
        <include refid="search"/>
        limit #{skip}, #{size}
    </select>
</mapper>